img{
	max-height: 200px;
	display: inline-block;
}

img:hover{
	cursor: crosshair;
	transform: rotate(3deg);
}

h3{
	font-family: univers;
	font-weight: bold;
	margin-left: 40px;
	position: absolute;
	z-index: 2;
	font-size: x-large;
	color: orange;
}

input[type="radio"]{
	z-index: 1;
	float: left;
	position: relative;
}

input[type="radio"]:hover{
	cursor: crosshair;
}



.trains{
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	display: inline-block;
}

.bus{
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	display: inline-block;
}

.street{
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	display: inline-block;

}


.air{
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	display: inline-block;
}


.whole{
	width: 610px;
	margin-left: 26vw;
	margin-right: 26vw;
	margin-top: 10vh;
	z-index: 6;
	position: fixed;
	

}

